.u-section-1 .u-sheet-1 {
  min-height: 1011px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 48px auto 0 312px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 76px 286px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: -26px auto 0 312px;
}

.u-section-1 .u-shape-1 {
  width: 17px;
  height: 17px;
  margin: -41px auto 0 340px;
}

.u-section-1 .u-shape-2 {
  width: 17px;
  height: 17px;
  margin: -17px 315px 0 auto;
}

.u-section-1 .u-line-1 {
  width: 462px;
  transform-origin: right center 0px;
  margin: -8px 330px 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 95px auto 0 312px;
}

.u-section-1 .u-form-1 {
  height: 599px;
  background-image: none;
  margin: 29px 267px 60px 303px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  width: 100%;
  padding: 11px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 18px;
    margin-left: 213px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 1rem;
    margin-top: 55px;
    margin-right: 186px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-size: 1rem;
    margin-top: -27px;
    margin-left: 213px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -40px;
    margin-left: 238px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 215px;
  }

  .u-section-1 .u-line-1 {
    margin-right: 229px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 60px;
    margin-left: 213px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 167px;
    margin-left: 203px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-left: 103px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 58px;
    margin-right: 87px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    margin-top: -23px;
    margin-left: 118px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -36px;
    margin-left: 137px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 107px;
  }

  .u-section-1 .u-line-1 {
    width: 445px;
    margin-right: 124px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 57px;
    margin-left: 103px;
  }

  .u-section-1 .u-form-1 {
    height: 490px;
    margin-top: 35px;
    margin-right: 56px;
    margin-left: 95px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 26px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 57px;
    margin-right: 25px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.75rem;
    margin-top: -16px;
    margin-left: 44px;
  }

  .u-section-1 .u-shape-1 {
    width: 15px;
    height: 15px;
    margin-top: -33px;
    margin-left: 60px;
  }

  .u-section-1 .u-shape-2 {
    width: 15px;
    height: 15px;
    margin-top: -16px;
    margin-right: 42px;
  }

  .u-section-1 .u-line-1 {
    width: 410px;
    margin-top: -7px;
    margin-right: 56px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
    margin-top: 89px;
    margin-left: 8px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 47px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 33px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 63px;
    margin-right: -2px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -18px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -32px;
    margin-left: 17px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -15px;
    margin-right: 16px;
  }

  .u-section-1 .u-line-1 {
    width: 279px;
    height: 3px;
    margin-top: -9px;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
    margin-top: 152px;
    margin-left: 10px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
  }
}